<article class="introductory-material">

    <h1 class="title">About FIITT</h1>

    <div class="about_content">

        <h2>Welcome to the Food Incident Interactive Training Tool (FIITT).</h2>
        <p>
            The FIITT aims to build the foundation for effective management of food incidents among food business organisations. Users of this tool will be immersed in simulations of different food incident scenarios, during which the user will be asked to make a choice among several decision options based on the information that is made available
        </p>
        <p>
            At the end of a scenario, the user can compare his or her decisions to that of industry practices through the “User Performance Report”.
        </p>
    </div>

    <%= link_to "Home", root_path, class: "button gray rounded medium" %>

    <div class="erie_logo"></div>
    <div class="surrey_logo"></div>
</article>
