<article id="introduction">
  <%= render 'layouts/login' %>

  <h1>Food Incident Interactive Training Tool</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate libero eget finibus venenatis. Aliquam quis pulvinar leo. In hac habitasse platea dictumst. Phasellus blandit lorem nisi, non venenatis turpis ullamcorper lobortis. Sed lacus urna, lobortis ut arcu et, rhoncus consequat erat. Curabitur tincidunt nisl ut justo ullamcorper sagittis. Curabitur turpis ex, dignissim a laoreet ut, semper id ex. Donec quis interdum ipsum.
  </p>
  <p>
    Cras vulputate odio eget quam mollis, nec auctor ipsum venenatis. Nam sem magna, auctor in auctor eu, vehicula et quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris eu tortor eu ex tempus sodales sit amet et orci. Praesent volutpat mauris eu purus ullamcorper viverra. Aenean urna neque, commodo vitae eleifend et, mollis sit amet turpis. Vivamus vel rutrum nisi. Vestibulum cursus nisl sit amet augue elementum, eget finibus quam aliquam. Nulla vel ligula suscipit, lacinia est vitae, vulputate erat.
  </p>

  <nav>
    <ul>
      <li><%= link_to "See the Scenarios", games_path %></li>
      <li><%= link_to "Your Personal Page", player_path %></li>
    </ul>
  </nav>
</article>

