<article id="introduction", class="introductory-material">
  <%= render 'layouts/login' %>

  <h1>Food Incident <br> Interactive Training Tool</h1>




  <nav class="basic-navigation">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "See the Scenarios", games_path %></li>
      <li><%= link_to "Your Personal Page", player_path %></li>
    </ul>
  </nav>
</article>
