// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
    clear: left;
}

header {
    background-color: #04e;
    padding-top: 10px;
    padding-bottom: 10px;

    h1 {
        padding: 10px;
        color: #fff;
    }
    img {
        float: left;
        padding-top: 10px;
        padding-left: 10px;
    }
}

.base-unit {
    margin: 5px auto 0 auto;
    width: 1000px;
    min-height: 500px;
    font-size: 15px;
    line-height: 20px;
    background-color: #aab;
    cborder-radius: 6px;
    padding: 60px;

  h1 {
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }

  h2 {
    font-size: 17px;
  }
}


.right_element {
    margin-left: 585px;
    margin-top: 10px;
    text-align: center;
    width: 400px;
    background-color: #ccd;
    min-height: 200px;
    border-radius: 50px;
    ul {
        text-align: left;
    }
    li {
        list-style: none;
    }
}

.left_element {
    width: 565px;
    margin-top: 10px;
    float: left;
    background-color: #fff;
    min-height: 400px;
    padding-top: 2px;
    h1 {
      text-align: center;
      font-size: 18px;
      background-color: #a40;
      padding: 5px;
      margin: 2px;
    }

    img {
        width: 565px;
    }
}

.basic-navigation {
    li {
        list-style: none;
    }
}

#status {
    border: outset;
    border-color: #4a0;
    padding: 10px;
    background-color: #fff;
}

#dashboard {
    clear: left;
    padding-top: 5px;
    padding-bottom: 10px;
    border: solid;
    border-color: #a40;
}

#game_summary {
    nav {
        padding-top: 2em;
        clear: both;
    }
    li {
        list-style: none;
    }   
}
