<div class = "logo-container">
    <table class = "logo-table">
        <tr class = "logo-tr">
            <td id = "steerplex" class = "logo-column">
                <a href = "http://steerplex.org.uk/" target="_blank">
                    <img class = "logo-image" src = "<%= asset_path("ErieSteerPlex.jpg") %>" />
                </a>
            </td>
            <td id = "epsrc" class = "logo-column">
                <a href = "https://www.epsrc.ac.uk/" target="_blank">
                    <img class = "logo-image" src = "<%= asset_path("EPSRC.jpg") %>" />
                </a>
            </td>
            <td id = "university_of_surrey" class = "logo-column">
                <a href="http://www.surrey.ac.uk/" target="_blank">
                    <img class = "logo-image" src = "<%= asset_path("logo_University_of_Surrey.jpg") %>" />
                </a>
            </td>
        </tr>
    </table>
</div>