<nav id="sign_in">
  <% if player_signed_in? %>
    Signed in as <%= current_player.email %>:
    <%= link_to "Sign out", destroy_player_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_player_registration_path %> or
    <%= link_to "Sign in", new_player_session_path %>
  <% end %>
</nav>
