<!DOCTYPE html>
<html>
<head>
  <title>FIITT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="base-unit">

  <%= yield %>

</div>

</body>
</html>
